
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title> Dophin Moblie</title>
	<link rel="stylesheet" type="text/css" href="core.css">
</head>
<body>
<header class="header">
	<div class="header_top">
		<div class="container">
			<div class="row">
				<div id="discount">
					<a class="big-discount" href="#" title="Discount"> <span class="glyphicon glyphicon-play"> </span> Giam gia shock tren Dodo App</a>
				</div>
				<div id="personal_discount">
					<a class="personal-discount" href="#" title="Giam gia cho chu the"> <span class="glyphicon glyphicon-gift"></span> Giam 20% cho chu the DVC </a>
				</div>
				<div id="promote">
					<a class="hot-discount" href="#" title="Khuyen Mai Hot"> <span class="glyphicon glyphicon-fire"></span> Khuyen Mai Hot </a>
				</div>
			</div>
		</div>
	</div>

	<div class="header_bottom" style="top: 0px; left: 0px; right: 0px; position: relative; z-index: 1030;">
		<div class="">
			<div class="">
				<div id="menu">
					  <ul>
					  	<li><a href="#"><i class="glyphicon glyphicon-phone"></i> Dien Thoai</a></li>
					  	<li><a href="#"><i class="fa fa-laptop" aria-hidden="true"></i> Laptop</a></li>
					  	<li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i> Phu Kien</a></li>
					  	<li><a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i> May Cu</a></li>
					  	<li><a href="#"><i class="fa fa-bandcamp" aria-hidden="true"></i> Cong Nghe</a></li>
					  	<li><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> Hoi Dap</a></li>
					  	<li><a href="#"><i class="fa fa-gamepad" aria-hidden="true"></i> Game,App</a></li>
					  	<li><a href="#"><i class="fa fa-gift" aria-hidden="true"></i> Khuyen Mai</a></li>
					  </ul>
				</div>
				<div id="searchbox">
					<form id="box" action="" >
                         <input id="search" type="text" placeholder="Search here ">
                         <input id="submit" type="submit" value="Tim">
                     </form>
					
				</div>
				<div class="cart_block_top" style="box-shadow: 0px 0px 10px rgb(173, 173, 173); background: rgb(255, 255, 255) none repeat scroll 0% 0%; left: 0px;">
					<h2 class="my_cart"> Gio hang</h2>
					<div class="field_cart"></div>
					<div class="controll active"> 
					<a href="javascript:void(0)"></a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</header>

</body>
</html>